.App {
  text-align: right;
  padding: 0;
  margin: 0;
  background-color: #fef3e6;
}

.page-header {
  font-family: nanummyeongjo;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.page-contents {
  font-family: nanummyeongjo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  position: relative;
}

.section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  position: relative;
}

.App-logo {
  pointer-events: none;
  background-color: transparent;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fef3e6;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 5, 5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
  font-family: nanummyeongjo;
  font-weight: bold;
  min-height: 5vh;
  padding: 10px 20px;
  border: none;
  background-color: #fef3e6;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:active {
  background-color: #000000;
  transform: scale(1);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 161, 241, 0.5);
}
